<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome To Uninet!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        
        <div class="card-body px-lg-5 py-lg-5">
          
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <!-- Avatar Upload Section -->
            <div>
              <label for="avatar">Avatar</label>
              <input type="file" (change)="onFileSelected($event)">
            </div>
            <div *ngIf="previewUrl">
              <img [src]="previewUrl" alt="Image preview" style="max-width: 200px; max-height: 200px; margin-top: 10px;">
            </div>

            <!-- Rest of the Form -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Name" formControlName="nom" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Last Name" formControlName="prenom" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" formControlName="email" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" formControlName="motDePasse" type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Confirm Password" formControlName="confirmMotDePasse" type="password">
              </div>
            </div>
            <div *ngIf="signupForm.hasError('passwordsMismatch')" class="text-danger text-center">
              Passwords do not match
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input class="form-control" placeholder="Birth Date" formControlName="dateDeNaissance" type="date" [max]="maxDate">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
                </div>
                <input class="form-control" placeholder="Num Tel" formControlName="numTel" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <select class="form-control" formControlName="role">
                  <option value="" selected disabled hidden>Tell us who you are</option>
                  <option value="etudiant">Student</option>
                  <option value="responsable">Manager</option>
                  <option value="collaborateur">Collaborater</option>
                </select>
              </div>
            </div>
            <div *ngIf="signupForm.get('role')!.value === 'etudiant' || signupForm.get('role')!.value === 'responsable'" class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-building"></i></span>
                </div>
                <select class="form-control" formControlName="universiteAssociee">
                  <option value="" selected disabled hidden>Please select a University</option>
                  <option *ngFor="let university of universities" [value]="university.nom">{{ university.nom }}</option>
                </select>
              </div>
            </div>
            <div *ngIf="signupForm.get('role')!.value === 'collaborateur'" class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-building"></i></span>
                </div>
                <input class="form-control" placeholder="Company" formControlName="entreprise" type="text">
              </div>
            </div>
            <div *ngIf="signupForm.get('role')!.value === 'etudiant'" class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <select class="form-control" formControlName="niveauxEducatif" type="text">
                  <option value="" selected disabled hidden>Please select your level of education</option>
                  <option value="1année">1st year</option>
                  <option value="2année">2nd year</option>
                  <option value="3année">3rd year</option>
                </select>
              </div>
            </div>
            
            <div *ngIf="errorMessage" class="text-danger text-center">
              {{ errorMessage }}
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>