<div style="margin-left: 20px; display: flex; ">
    <h1 style="margin-left: 20px; flex: 10;">Mes Pre-ordres</h1>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="modeleDto">
        <th mat-header-cell *matHeaderCellDef> Modele </th>
        <td mat-cell *matCellDef="let element"> {{element.voitureDto.modeleDto}}  </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="marqueDto">
        <th mat-header-cell *matHeaderCellDef> Marque </th>
        <td mat-cell *matCellDef="let element">{{element.voitureDto.marqueDto}}</td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="matriculeDto">
        <th mat-header-cell *matHeaderCellDef> Matricule </th>
        <td mat-cell *matCellDef="let element">{{element.voitureDto.matriculeDto}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="kilometrageDto">
        <th mat-header-cell *matHeaderCellDef> kilometrage </th>
        <td mat-cell *matCellDef="let element"> {{element.kilometrageDto}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="numChassisDto">
        <th mat-header-cell *matHeaderCellDef> No. chassis </th>
        <td mat-cell *matCellDef="let element">{{element.voitureDto.numChassisDto}}</td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="dateRDVDto">
        <th mat-header-cell *matHeaderCellDef> Date RDV </th>
        <td mat-cell *matCellDef="let element"> {{element.dateRDVDto}}</td>
      </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <div style="display: flex ;" *ngIf="!(element.confirmationReceptionnisteDto && element.confirmationClientDto)">
          <button (click)="validate(element.idDto)" class="btn btn-secondary btn-sm" style="flex: 1 ;" *ngIf="element.estimationDto!=null">valider</button>
          <button (click)="delete(element.idDto)" class="btn btn-danger btn-sm" style="flex: 1 ; margin-left: 5%;">supprimer</button>
          <p *ngIf="element.estimationDto==null" style="flex: 1 ; margin-left: 5%;">En cours de traitement</p> 
        </div>
        <p *ngIf="element.confirmationReceptionnisteDto && element.confirmationClientDto">validé</p>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>