<div class="container mt-5">
  <h2>Comments Administration</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Content</th>
        <th>Date</th>
        <th>User ID</th>
        <th>Post ID</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let commentaire of commentaires">
        <td>{{ commentaire.contenuCommentaire }}</td>
        <td>{{ commentaire.dateCommentaire | date }}</td>
        <td>{{ commentaire.userId }}</td>
        <td>{{ commentaire.postId }}</td>
        <td>{{ commentaire.likes.length }}</td>
        <td>{{ commentaire.dislikes.length }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteCommentaire(commentaire._id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
