<!-- Start Sign Up Area -->
<div class="sign-up-area pt-100 pb-70">
    <div class="container">
        <div class="user-all-form">
            <div class="contact-form">
                <div class="section-title text-center">
                    <h2>Mettre a jour votre voiture !</h2>
                </div>
                <form id="contactForm" [formGroup]="updateVoiture">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">


                                <input type="number" name="{{voiture.kilometrageDto}}"
                                    value="{{voiture.kilometrageDto}}" class="form-control"
                                    formControlName="kilometrageDto">
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <input value="{{voiture.matriculeDto}}" class="form-control" type="voiture"
                                    class="form-control" name="matriculeDto" placeholder="matriculeDto"
                                    formControlName="matriculeDto">

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="text" name="{{voiture.numChassisDto}}" value="{{voiture.numChassisDto}}"
                                    placeholder="numChassisDto" class="form-control" formControlName="numChassisDto">
                            </div>
                        </div>



                        <div class="col-lg-12">
                            <div class="form-group">
                                <input value="{{voiture.AnneeDto}}" class="form-control" type="datetime"
                                    class="form-control" name="Annee" placeholder="AnneeDto" formControlName="AnneeDto">

                            </div>
                        </div>
                        <div style="display: flex;">
                            <div class="col-lg-12 text-center" style="flex: 1;">
                                <button (click)="cancel()" class="default-btn">Annuler</button>
                            </div>
                            <div class="col-lg-12 text-center" style="flex: 1;">
                                <button type="submit" (click)="mettreAJour()" class="default-btn">Mettre a jour</button>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Sign Up Area End -->