<div class="container mt-5">
  <h1>Create New Forum</h1>

  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="mb-3">
      <label for="titreForum" class="form-label">Title</label>
      <input type="text" class="form-control" id="titreForum" name="titreForum" ngModel required>
    </div>
    <div class="mb-3">
      <label for="descriptionForum" class="form-label">Description</label>
      <input type="text" class="form-control" id="descriptionForum" name="descriptionForum" ngModel>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" name="category" ngModel required>
    </div>
    <button type="submit" class="btn btn-success">Create Forum</button>
  </form>
</div>
