<!-- Header section -->
<div class="header bg-gradient-info py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">

        </div>
      </div>
    </div>
  </div>
<div class="container mt-5">
  <h2>Posts Administration</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Content</th>
        <th>User ID</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Report Count</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.contenuPost }}</td>
        <td>{{ post.userId }}</td>
        <td>{{ post.likes.length }}</td>
        <td>{{ post.dislikes.length }}</td>
        <td>{{ post.reportCount }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deletePost(post._id)">Delete</button>
        </td>

        <td *ngIf="post.isVerifed">
          <button class="btn btn-secondary btn-sm" (click)="verifyPost(post._id)">Unverify</button>
        </td>
        <td *ngIf="!post.isVerifed">
          <button class="btn btn-success btn-sm" (click)="verifyPost(post._id)">Verify</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
