<div class="contact-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="contact-form">
                    <div class="section-title">
                        <span class="span-bg">CONTACT</span>
                        <h2>Rester en Contact</h2>
                        <p>En cas du problème ou une question a proposer ne hésite pas de nous contacter.</p>
                    </div>

                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Nom">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Prénom">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Téléphone">
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="Votre Sujet">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="8" placeholder="Votre Message"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="contact-sidebar">
                    <h2>Notre Contact Détails</h2>
                    <div class="row">
                        <div class="col-lg-12 col-md-4">
                            <div class="contact-card">
                                <i class='bx bx-home-smile'></i>
                                <div class="content">
                                    <h3>Addresse</h3>
                                    <p>Mnihla, </p>
                                    <span>Sabelet ben ammar, Ariana</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-4">
                            <div class="contact-card">
                                <i class='bx bx-phone-call'></i>
                                <div class="content">
                                    <h3>Phone</h3>
                                    <p><a href="tel:+216 70 836 644">+216 70 836 644</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-4">
                            <div class="contact-card">
                                <i class='bx bxs-envelope'></i>
                                <div class="content">
                                    <h3>Email</h3>
                                    <p><a href="mailto:direction.ibs@3sa.com.tn">direction.ibs@3sa.com.tn</a></p>
                                    <span><a href="mailto:technique@3sa.com.tn">technique@3sa.com.tn</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Area End -->

<!-- Start Map Area -->
<div class="map-area">
    <div class="container-fluid m-0 p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.760034570542!2d10.115709316239393!3d36.89267561080607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e2cd1a3301e283%3A0x608c24ab15b5a9bf!2sAgence%20Officielle%20Volkswagen%20Ste%20super%20services%20automobile!5e0!3m2!1sfr!2stn!4v1653320527578!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<!-- Map Area End -->