<!-- Start Projects Details Area -->
<div class="project-details-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="project-details-slider owl-carousel owl-theme">
                    <div class="project-details-item">
                        <img src="assets/img/project/project-details1.jpg" alt="Images">
                        <div class="col-lg-4 col-md-12">
                            <div class="project-side-bar">
                                <div class="project-categories">
                                    <h3>Seat Leon 2020 </h3>

                                    <ul>
                                        <li>
                                            <span> Marque </span>
                                            <span> Seat </span>
                                        </li>
                                        <li>
                                            <span> Modèle </span>
                                            <span> Leon </span>
                                        </li>
                                        <li>
                                            <span> Année </span>
                                            <span>2020</span>
                                        </li>
                                        <li>
                                            <span>Date de sortie</span>
                                            <span>20-09-2020</span>
                                        </li>
                                        <li>
                                            <span> ètat </span>
                                            <span> disponible </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-details-item">
                        <img src="assets/img/project/project-details2.jpg" alt="Images">
                        <div class="col-lg-4 col-md-12">
                            <div class="project-side-bar">
                                <div class="project-categories">
                                    <h3>Audi Q5 2020 </h3>

                                    <ul>
                                        <li>
                                            <span> Marque </span>
                                            <span> Audi </span>
                                        </li>
                                        <li>
                                            <span> Modèle </span>
                                            <span> Q5 </span>
                                        </li>
                                        <li>
                                            <span> Année </span>
                                            <span>2020</span>
                                        </li>
                                        <li>
                                            <span>Date de sortie</span>
                                            <span>20-09-2020</span>
                                        </li>
                                        <li>
                                            <span> ètat </span>
                                            <span> disponible </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-details-item">
                        <img src="assets/img/project/project-details3.jpg" alt="Images">
                        <div class="col-lg-4 col-md-12">
                            <div class="project-side-bar">
                                <div class="project-categories">
                                    <h3> Volkswagen Golf7 2020</h3>

                                    <ul>
                                        <li>
                                            <span> Marque </span>
                                            <span> Volkswagen </span>
                                        </li>
                                        <li>
                                            <span> Modèle </span>
                                            <span> Golf7 </span>
                                        </li>
                                        <li>
                                            <span> Année </span>
                                            <span>2020</span>
                                        </li>
                                        <li>
                                            <span>Date de sortie</span>
                                            <span>20-09-2020</span>
                                        </li>
                                        <li>
                                            <span> ètat </span>
                                            <span> disponible </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="project-details-item">
                        <img src="assets/img/project/project-details4.jpg" alt="Images">
                        <div class="col-lg-4 col-md-12">
                            <div class="project-side-bar">
                                <div class="project-categories">
                                    <h3>Sokda Fabia 2020 </h3>

                                    <ul>
                                        <li>
                                            <span> Marque </span>
                                            <span> Skoda </span>
                                        </li>
                                        <li>
                                            <span> Modèle </span>
                                            <span> Fabia </span>
                                        </li>
                                        <li>
                                            <span> Année </span>
                                            <span>2020</span>
                                        </li>
                                        <li>
                                            <span>Date de sortie</span>
                                            <span>20-09-2020</span>
                                        </li>
                                        <li>
                                            <span> ètat </span>
                                            <span> disponible </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Projects Details Area End -->