

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3>Create Candidature</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="candidatureForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="userName">User Name</label>
              <input type="text" id="userName" formControlName="userName" class="form-control" [ngClass]="{'is-invalid': candidatureForm.get('userName')?.invalid && candidatureForm.get('userName')?.touched}">
              <div *ngIf="candidatureForm.get('userName')?.invalid && candidatureForm.get('userName')?.touched" class="invalid-feedback">
                User Name must be between 3 and 100 characters.
              </div>
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" [ngClass]="{'is-invalid': candidatureForm.get('phoneNumber')?.invalid && candidatureForm.get('phoneNumber')?.touched}">
              <div *ngIf="candidatureForm.get('phoneNumber')?.invalid && candidatureForm.get('phoneNumber')?.touched" class="invalid-feedback">
                Phone Number is required.
              </div>
            </div>
            <div *ngIf="postId" class="form-group">
              <label for="postId" hidden="hidden">Post ID</label>
              <input type="text" id="postId" formControlName="postId" class="form-control" [ngClass]="{'is-invalid': candidatureForm.get('postId')?.invalid && candidatureForm.get('postId')?.touched}" disabled hidden="hidden">
              <div *ngIf="candidatureForm.get('postId')?.invalid && candidatureForm.get('postId')?.touched" class="invalid-feedback">
                Invalid Post ID.
              </div>
            </div>
            <div class="form-group">
              <label for="cv">Upload CV</label>
              <input type="file" id="cv" (change)="onFileChange($event)" class="form-control-file" [ngClass]="{'is-invalid': candidatureForm.get('cv')?.invalid && candidatureForm.get('cv')?.touched}" accept=".pdf,.docx">
              <div *ngIf="candidatureForm.get('cv')?.invalid && candidatureForm.get('cv')?.touched" class="invalid-feedback">
                CV is required.
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="candidatureForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
