<!-- Start Top Header -->
<header class="top-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-9">
                <div class="header-left">
                    <div class="header-left-card">
                        <ul>
                            <li>
                                <div class="head-icon">
                                    <i class='bx bx-home-smile'></i>
                                </div>
                                <a href="https://www.google.com/maps/dir/36.7580388,10.2487312/3sa+mnihla+volkswagen/@36.818916,10.1260829,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x12e2cd1a3301e283:0x608c24ab15b5a9bf!2m2!1d10.1169172!2d36.892914"
                                    target="_blank">Mnihla - Cebalet Ben Ammar, Ariana</a>
                            </li>
                            <li>
                                <div class="head-icon">
                                    <i class='bx bx-phone-call'></i>
                                </div>
                                <a href="tel:+216 70 836 644">70 836 644</a>
                            </li>
                            <li>
                                <div class="head-icon">
                                    <i class='bx bxs-envelope'></i>
                                </div>
                                <a href="mailto:direction.ibs@3sa.com.tn">direction.ibs@3sa.com.tn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-3">
                <div class="header-right">
                    <div>
                        <p class="userNameDessign" *ngIf="isConnected">logged as : {{user.name}}</p>
                        <p class="userNameDessign" *ngIf="isConnected"><button (click)="onClickLogout()"
                                class="default-btn">Log-out</button></p>
                        <p class="userNameDessign" *ngIf="! isConnected"><button routerLink="/sign-in"
                                routerLinkActive="active" class="default-btn">Login</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Top Header End -->

<!-- Start Navbar Area -->
<div class="navbar-area">

    <!-- Menu For Responsive -->
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <img src="assets/img/homel.png" alt="Logo">
        </a>
    </div>

    <!-- Menu For Desktop -->
    <div class="main-nav nav-bar">
        <div class="container">

            <nav class="navbar navbar-expand-md navbar-light ">
                <a class="navbar-brand" routerLink="/">
                    <img class="img-circle" src="assets/img/logo.png" alt="Logo">
                </a>


                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a routerLink="/home" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Acueil</a>

                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - One</a></li>

                                <li class="nav-item"><a routerLink="/home-demo-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Demo - Two</a></li>
                            </ul> -->
                        </li>

                        <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">A propos de nous</a></li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Pages <i class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <!-- <li class="nav-item"><a routerLink="/team" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Equipe</a></li>

                                <li class="nav-item"><a routerLink="/appointment" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Prise de
                                        RDV</a></li> -->

                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="nav-link">Showroom <i
                                            class='bx bx-chevron-down'></i></a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/projects" class="nav-link"
                                                routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Showroom </a></li>

                                        <li class="nav-item"><a routerLink="/projects-details" class="nav-link"
                                                routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}">Détails voitures neuves</a></li>
                                    </ul>
                                </li>

                                <!-- <li class="nav-item"><a routerLink="/pricing" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pricing</a></li> -->
<!-- 
                                <li class="nav-item"><a routerLink="/faq" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">QPF</a></li> -->

                                <!-- <li class="nav-item"><a routerLink="/testimonials" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Testimonials</a></li> -->

                                <li class="nav-item"><a routerLink="/error" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">404 Error Page</a></li>

                                <!-- <li class="nav-item"><a routerLink="/sign-in" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Authentification</a></li> -->

                                <!-- <li class="nav-item"><a routerLink="/sign-up" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">S’enregistrer</a></li> -->

                                <!-- <li class="nav-item"><a routerLink="/coming-soon" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Coming Soon</a></li> -->
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Services <i
                                    class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/services-1" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services
                                    </a></li>

                                <!-- <li class="nav-item"><a routerLink="/services-2" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services Style Two</a></li> -->

                                <li class="nav-item"><a routerLink="/service-details" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Détails du
                                        service</a></li>
                                <li class="nav-item" *ngIf="isConnected"><a routerLink="/voitures" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mes
                                        voitures</a></li>
                                <li class="nav-item" *ngIf="isAdmin"><a routerLink="/dashbord" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tableau de
                                        bord</a></li>

                            </ul>
                        </li>

                        <!-- <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Blog <i class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog-1" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Style One</a></li>

                                <li class="nav-item"><a routerLink="/blog-2" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Style Two</a></li>

                                <li class="nav-item"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>
                            </ul>
                        </li> -->

                        <!-- <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Shop <i class='bx bx-chevron-down'></i></a>

                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/shop" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Shop</a></li>

                                <li class="nav-item"><a routerLink="/cart" class="nav-link" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Cart</a></li>

                                <li class="nav-item"><a routerLink="/checkout" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Checkout</a>
                                </li>

                                <li class="nav-item"><a routerLink="/products-details" class="nav-link"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products
                                        Details</a></li>
                            </ul>
                        </li> -->

                        <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                    </ul>

                    <!-- <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <i class='search-btn bx bx-search'></i>
                            <i class='close-btn bx bx-x'></i>
                            <div class="search-overlay search-popup">
                                <div class='search-box'>
                                    <form class="search-form">
                                        <input class="search-input" name="search" placeholder="Search" type="text">
                                        <button class="search-button" type="submit"><i class="bx bx-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="option-item">
                            <div class="add-cart-btn">
                                <a routerLink="/cart" class="cart-btn-icon">
                                    <i class='bx bx-cart-alt'></i>
                                    <span>0</span>
                                </a>
                            </div>	
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>

</div>


<!-- End Navbar Area -->