<div class="about-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img-2">
                    <img src="assets/img/about/image.jpg" alt="Images">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="span-bg">A propos de nous</span>
                        <h2>Nous avons plus de 20 ans d'expérience de service pour vous</h2>
                        <p>Nous avons beaucoup de plans pour faire une bonne et meilleure réparation à vos voitures . Nous avons une bonne expérience et une bonne image sur le secteur mondial.</p>
                    </div>

                    <ul>
                        <li><i class='bx bx-check-circle'></i> Satisfaction des clients</li>
                        <li><i class='bx bx-check-circle'></i> Boutique la plus récente et moderne</li>
                        <li><i class='bx bx-check-circle'></i> Diagnostic d'expertise</li>
                        <li><i class='bx bx-check-circle'></i> Prix équitable</li>
                        <li><i class='bx bx-check-circle'></i> Rapidité</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>