<div *ngIf="restaurants.length > 0">
  <h2>Liste des restaurants</h2>
  <div>
    <button (click)="toggleCreateMode()">Créer Restaurant</button>
  </div>
  <div *ngIf="createMode">
    <h2>Créer un nouveau restaurant</h2>
    <form (submit)="createRestaurant()">
      <label>Nom:</label>
      <input type="text" [(ngModel)]="newRestaurant.name" name="name" required><br>
      <label>Adresse:</label>
      <input type="text" [(ngModel)]="newRestaurant.address" name="address"><br>
      <label>Capacité:</label>
      <input type="number" [(ngModel)]="newRestaurant.capacity" name="capacity" required><br>
      <label>Places disponibles:</label>
      <input type="number" [(ngModel)]="newRestaurant.availablePlaces" name="availablePlaces" required><br>
      <label>ID Faculté:</label>
      <input type="text" [(ngModel)]="newRestaurant.facultyId" name="facultyId" required><br>
      <button type="submit">Créer</button>
      <button (click)="cancelCreate()">Annuler</button>
    </form>
  </div>
  <ul>
    <li *ngFor="let restaurant of restaurants">
      <h3>{{ restaurant.name }}</h3>
      <p>{{ restaurant.address }}</p>
      <p>Capacité totale: {{ restaurant.capacity }}</p>
      <p>Places disponibles: {{ restaurant.availablePlaces }}</p>
      <p>Nombre de réservations: {{ restaurant.numberOfReservations }}</p>
      <button (click)="selectRestaurant(restaurant)">Sélectionner</button>
      <button (click)="createReservation(restaurant._id)">Réserver</button>
      <button (click)="deleteRestaurant(restaurant._id)">Supprimer</button>
      <button (click)="editRestaurant(restaurant)">Modifier</button>
      <button (click)="loadReservations(restaurant._id)">Voir Réservations</button>
      
      <!-- Liste des réservations -->
      <div *ngIf="reservationsByRestaurant[restaurant._id] && reservationsByRestaurant[restaurant._id].length > 0">
        <h4>Réservations pour {{ restaurant.name }}</h4>
        <ul>
          <li *ngFor="let reservation of reservationsByRestaurant[restaurant._id]">
            <p>Utilisateur: {{ reservation.userName }} - {{ reservation.date | date }}</p>
            <button (click)="deleteReservation(reservation._id)">Supprimer Réservation</button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  
  
  

  <div *ngIf="editMode">
    <h2>Modifier {{ selectedRestaurant.name }}</h2>
    <form (submit)="updateRestaurant()">
      <label>Nom:</label>
      <input type="text" [(ngModel)]="selectedRestaurant.name" name="name" required><br>
      <label>Adresse:</label>
      <input type="text" [(ngModel)]="selectedRestaurant.address" name="address"><br>
      <!-- Ajouter d'autres champs si nécessaire -->
      <button type="submit">Enregistrer</button>
      <button (click)="cancelEdit()">Annuler</button>
    </form>
  </div>

  <!-- Affichage de la liste des utilisateurs ayant réservé -->
  <!-- <div *ngIf="reservations.length > 0">
    <h2>Utilisateurs ayant réservé</h2>
    <ul>
      <li *ngFor="let reservation of reservations">
        <p>{{ reservation.userName }}</p>
       </li>
    </ul>
  </div> -->
</div>
