

<!-- Start Services Area -->
<div class="service-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span class="span-bg">Services</span>
            <h2>Nous sommes toujours prêts à vous servir le meilleur service</h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <a routerLink="/service-details" class="service-icon">
                        <i class='flaticon-wheel'></i>
                    </a>
                    <h3><a routerLink="/service-details">Ajustement des roues</a></h3>
                    <p> L'entretien de ses roues ne consiste pas simplement à s'assurer de leur bon état : il faut aussi vérifier leur parallélisme. Chez 3SA, nous faisons cette vérification pour vous afin de réduire vos frais d'entretien.</p>
                    <a routerLink="/service-details" class="read-more-btn">
                        <i class="left-icon bx bx-right-arrow-alt"></i> EN SAVOIR + <i class="right-icon bx bx-right-arrow-alt"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <a routerLink="/service-details" class="service-icon">
                        <i class='flaticon-settings'></i>
                    </a>
                    <h3><a routerLink="/service-details">Vidange</a></h3>
                    <p>Il est important de faire une révision complète et la vidange de sa voiture avant un long trajet. Si vous partez en vacances, prenez rendez-vous dans notre garage 3SA afin de vous en occuper.</p>
                    <a routerLink="/service-details" class="read-more-btn">
                        <i class="left-icon bx bx-right-arrow-alt"></i> EN SAVOIR + <i class="right-icon bx bx-right-arrow-alt"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <a routerLink="/service-details" class="service-icon">
                        <i class='flaticon-fan'></i>
                    </a>
                    <h3><a routerLink="/service-details">RÉVISION - RECHARGE CLIMATISATION</a></h3>
                    <p>La climatisation peut faire une énorme différence lors d’un trajet en voiture. C’est pourquoi il est important de s’occuper de l’entretien de sa climatisation.</p>
                    <a routerLink="/service-details" class="read-more-btn">
                        <i class="left-icon bx bx-right-arrow-alt"></i> EN SAVOIR + <i class="right-icon bx bx-right-arrow-alt"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <a routerLink="/service-details" class="service-icon">
                        <i class='flaticon-disc-brake'></i>
                    </a>
                    <h3><a routerLink="/service-details">FREINAGE - DISQUES ET/OU PLAQUETTES</a></h3>
                    Les freins sont le seul rempart entre la vitesse de la voiture et votre sécurité. C'est pourquoi s'ils ne répondent pas bien, vous devriez les faire vérifier dans notre atelier avant de courir un risque.
                    <a routerLink="/service-details" class="read-more-btn">
                        <i class="left-icon bx bx-right-arrow-alt"></i> EN SAVOIR + <i class="right-icon bx bx-right-arrow-alt"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <a routerLink="/service-details" class="service-icon">
                        <i class='flaticon-car-service-1'></i>
                    </a>
                    <h3><a routerLink="/service-details">DIAGNOSTIC ELECTRONIQUE
                    </a></h3>
                    <p>Les systèmes électroniques de la voiture interviennent pour beaucoup dans votre sécurité. Chez 3SA, nous nous occupons du diagnostic électronique de votre voiture. Faites confiance à nos experts multimarques.</p>
                    <a routerLink="/service-details" class="read-more-btn">
                        <i class="left-icon bx bx-right-arrow-alt"></i> Read More <i class="right-icon bx bx-right-arrow-alt"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <a routerLink="/service-details" class="service-icon">
                        <i class='flaticon-racing'></i>
                    </a>
                    <h3><a routerLink="/service-details">PNEUMATIQUES</a></h3>
                    <p> Les pneumatiques sont le lien direct entre votre voiture et le sol. Leur état influence en grande partie la tenue de route ainsi que les distances de freinage de votre véhicule.
                    </p>
                    <a routerLink="/service-details" class="read-more-btn">
                        <i class="left-icon bx bx-right-arrow-alt"></i> Read More <i class="right-icon bx bx-right-arrow-alt"></i>
                    </a>
                </div>
            </div>
            
           
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a routerLink="/services-1" class="prev page-numbers"><i class="bx bx-chevron-left"></i></a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/services-1" class="page-numbers">2</a>
                    <a routerLink="/services-1" class="page-numbers">3</a>
                    <a routerLink="/services-1" class="next page-numbers"><i class="bx bx-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Area End -->